.navigation-container {
    width: 100%;
    background-color: crimson;
    height: 15%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
}

.navigation-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navigation-menu-item {
    padding: 1em;
}

.navigation-menu-item:hover {
    color: #000;
}

.navigation-name {
    padding: 1em;
    margin-right: auto;
}

.navigation-name span {
    color: #000;
    font-size: 20px;
}



@media screen and (min-width: 1000px){
    .navigation-menu-icon {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .navigation-menu-item {
        display: none;
    }

    .navigation-menu-fabars {
        margin-top: 0.5rem;
        margin-right: 1rem;
    }
}  

