.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: crimson;
  color: #fff;
}

.navigation-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navigation-menu-item {
    padding: 1em;
}

.navigation-menu-item:hover {
    color: #000;
}

.navigation-name {
    padding: 1em;
    margin-right: auto;
}

.navigation-name span {
    color: #000;
    font-size: 20px;
}



@media screen and (min-width: 1000px){
    .navigation-menu-icon {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .navigation-menu {
        display: none;
    }
    .navigation-menu-open {
       position: absolute;
       right: 0px;
       top: 55px;
       height: 100%;
       width: 25%;
       display: flex;
       background-color: crimson;
       flex-direction: column;
       align-items: center;
    }

    .navigation-menu-item {
        margin-top: auto;
        margin-bottom: auto;
    }
    .navigation-menu-fabars {
        margin-top: 0.5rem;
        margin-right: 1rem;
    }

    .navigation-menu-faclose {
        margin-top: 0.5rem;
        margin-right: 1rem;
    }
}  

