.home-container {
    height: 95.7vh;
    background-image: url('/src/Images/pexels-andrew-neel-2312369.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: border-box;
    display: flex;
    justify-content: center;
    opacity: 85%;
}


.home-text-container {
    padding-top: 15rem;
    color: #fff;
    text-align: start;
}

.text-1{
    font-size: 50px;
}
.text-2{
    font-size: 50px;
    color: #ffdf6c;
}
.text-3{
    font-size: 40px;
}


.buttons {
    display: flex;
    justify-items: center;
    justify-content: center;
    padding-top: 2rem;
    font-size: 20px;
}

.buttons span {
    padding-left: 1rem;
    padding-right: 1rem;
}

.buttons span:hover{
    color:#ffdf6c;
}

/* responsive design */

@media screen and (max-width: 1000px) {
    .text-1{
        font-size: 40px;
    }
    .text-2{
        font-size: 40px;
    }
    .text-3{
        font-size: 35px;
    }
}

@media screen and (max-width: 700px) {
    .home-text-container {
        padding-top: 15rem;
        color: #fff;
        text-align: center;
    }

    .text-1{
        font-size: 30px;
    }
    .text-2{
        font-size: 30px;
    }
    .text-3{
        font-size: 25px;
    }
}